[1693]
install_to="/path/to/American Truck Simulator/mod/CAT 1693"

[NH-220]
install_to="/path/to/American Truck Simulator/mod/Cummins NH-220"

[NHS-275]
install_to="/path/to/American Truck Simulator/mod/Cummins NHS-275"

[E9]
install_to="/path/to/American Truck Simulator/mod/MACK E9 V8"
